@use "../abstracts/variables";

// Dark Mode (standard)
%text-dark-theme {
    color: variables.$text-dark;
}

.dark-mode {
    background: variables.$background-dark;
    color: variables.$text-dark;

    .nav-links li a,
    .nav-links span,
    .subheading, 
    .artist-container p, 
    .search-container label,
    .album-card p, 
    .specific-track-songs p {
        @extend %text-dark-theme;
    }

    .search-container input {
        background: variables.$search-bg-dark;
    }

    .theme-toggle i {
        color: variables.$toggle-icon;
    }

    // Loading Page in Dark Mode
    .loading-screen {
        background: variables.$loading-bg-dark;
        color: variables.$loading-text-light;
    }

    .bars__item {
        background: variables.$text-dark;
    }

    .mobile-nav {
        background-color: variables.$mobile-nav-bg; 
    }
}

// Light Mode
%text-light-theme {
    color: variables.$text-light;
}

.light-mode {
    background: variables.$background-light;
    color: variables.$text-light;

    .nav-links li a,
    .nav-links span,
    .subheading, 
    .artist-container p, 
    .search-container label,
    .album-card p, 
    .specific-track-songs p {
        @extend %text-light-theme;
    }

    %search-input {
        background: variables.$search-bg-light;
    }
    
    .search-container input, 
    .mobile-search-container input {
        @extend %search-input;
    }    

    .theme-toggle i {
        color: variables.$toggle-icon;
    }

    // Loading Page in Light Mode
    .loading-screen {
        background: variables.$loading-bg-light;
        color: variables.$loading-text-dark;
    }

    .bars__item {
        background: variables.$text-light;
    }

    .mobile-nav {
        background-color: variables.$mobile-nav-bg-light; 
    }
}

// Auto-adapt to system settings
@media (prefers-color-scheme: light) {
    body {
        background: variables.$background-light;
        color: variables.$text-light;
    }

    .nav-links li a,
    .nav-links span,
    .subheading, 
    .artist-container p, 
    .search-container label,
    .album-card p, 
    .specific-track-songs p {
        color: variables.$text-light;
    }

    #theme-toggle i {
        color: variables.$toggle-icon;
    }

    // Loading Page in auto-light mode
    .loading-screen {
        background: variables.$loading-bg-light;
        color: variables.$text-light;
    }

    .bars__item {
        background: variables.$text-light;
    }

    .mobile-nav {
        background-color: variables.$mobile-nav-bg-light;
    }
}
