@use "../abstracts/variables";
@use "../base/base";
.main-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}


.subheading {
  font-size: variables.$font-size-large;
  color: variables.$text-dark;
  margin-bottom: 1rem;
}

/* ARTIST SPOTLIGHT & HANDPICKED SONGS */
.artist-spotlight,
.specific-track-songs {
  margin-bottom: 6rem;

  .artist-container,
  .song-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .artist-card,
  .song-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      background: #ccc;
    }

    p {
      margin-top: 0.5rem;
      font-size: variables.$font-size-base;
      color: variables.$text-dark;
    }
  }
}

h1 {
  font-size: variables.$font-size-xlarge;
}

.specific-track-songs {
  .song-container {
    flex-wrap: wrap;
  }

  .song-card {
    max-width: 150px;
  }
}

/* ALBUM SECTION */
.albums {
  text-align: center;
  margin-bottom: 10rem;

  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
  }

  .album-wrapper {
    position: relative;
    width: 100%;
    height: 200px; 
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  .album-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem; 
    animation: scrollLeft 30s linear infinite;
  }

  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }

  .album-card {
    width: 200px;
    height: 200px;
    position: absolute;
    left: max(calc(200px * 10), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

    // Dynamic delay for album cards
  @for $i from 1 through 10 {
    .album-card:nth-child(#{$i}) {
      animation-delay: calc(30s / 10 * (30 - #{$i}) * -1);
    }
  }

  .album-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 160px;
      height: 160px;
      object-fit: cover;
      background: #ccc;
    }

    p {
      margin-top: 0.5rem;
      font-size: variables.$font-size-large;
      color: variables.$text-dark;
    }
  }
}

@media (max-width: 1000px) {
    .main-content {
        display: flex;
        align-items: center; 
        text-align: center; 
    }

    .artist-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .song-container {
      padding: 1rem 2rem;
    }

    .artist-card img {
        max-width: 150px; 
    }
}