@use "../abstracts/variables";

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.subheading {
    font-size: variables.$font-size-large;
    color: variables.$text-color;
    margin-bottom: 1rem;
}

/* ARTIST SPOTLIGHT & HANDPICKED SONGS */
.artist-spotlight, .specifik-track-songs {
    margin-bottom: 6rem;

    .artist-container, .song-container {
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    .artist-card, .song-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            background: #ccc;
        }

        p {
            margin-top: 0.5rem;
            font-size: variables.$font-size-base;
            color: variables.$text-color;
        }
    }
}

h1 {
    font-size: variables.$font-size-xlarge;
}

.specifik-track-songs {
    .song-container {
        flex-wrap: wrap;
    }

    .song-card {
        max-width: 150px;
    }
}

/* ALBUM SECTION */
.albums {

    padding: 2rem;
    text-align: center;
    
    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .album-container {
        display: flex;
        width: 200%; 
        animation: slide 15s linear infinite;
        gap: 2rem;
    }

      // Pause animation on hover
   .slider-container:hover .album-container {
    animation-play-state: paused;
    }

    .album-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 160px;
            height: 160px;
            object-fit: cover;
            background: #ccc;
        }

        p {
            margin-top: 0.5rem;
            font-size: variables.$font-size-large;
            color: variables.$text-color;
        }
    }
}
