@use "sass:color";

// Primary colors for the color palette
$primary-gradient: linear-gradient(to bottom right, #ffb6c1, #d8b2ff, #8fd3fe, #fff6a9);
// Standard by defualt - Dark mode
$background-dark: #000000;
$text-dark: #ff80ab;

// Light Mode
$background-light: #ffffff;
$text-light: color.adjust($text-dark, $lightness: -30%);

// Toggle button colors
$toggle-dark: color.adjust(#8fd3fe, $lightness: -30%);
$toggle-light: color.adjust(#fff6a9, $lightness: -30%);
$toggle-icon: #ffffff; 
$light-mode-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

// Typography
$font-primary: 'Quicksand', sans-serif;

// Font sizes
$font-size-base: 1.2rem;
$font-size-large: 1.5rem;   
$font-size-xlarge: 3rem;

// Mobile-nav - Dark mode
$mobile-nav-bg: #8fd3fe;
// Mobile-nav - Dark mode
$mobile-nav-bg-light: #fff6a9;
// Mobile-nav 
$font-size-base-mobile: 1rem;
$font-size-large-mobile: 1.2rem;
$font-size-xlarge-mobile: 2rem;

// Loading page - Dark mode
$loading-bg-dark: #000000;
$loading-text-light: #ffffff;
// Loading page - Light mode
$loading-bg-light: #ffffff;
$loading-text-dark: #000000;

// Album section shadow effect on Home page
$album-mask: linear-gradient(
  to right,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 1) 20%,
  rgba(0, 0, 0, 1) 80%,
  rgba(0, 0, 0, 0)
);

// Gradient colors for buttons
$btn-gradient: linear-gradient(90deg, #FF80AB 0%, #C2A2FF 100%);
// Hover effect for buttons
$btn-hover-color: #FF4F8A;
$btn-text-color: #333333;
$btn-hover-text: #000000;
$drop-shadow: 0px 4px 8px rgba(255, 0, 4, 0.25);
$inner-shadow: inset 0px 5px 6px rgba(0, 0, 0, 0.25);

// Search field background colors
$search-bg-dark: #ffffff1a;
$search-bg-light: #0000001a;

// Favorite button styling variables
$favorite-icon-color: #ff4f8a; 
$favorite-icon-hover: rgb(255, 69, 69); 
$favorite-icon-active: red; 
$favorite-icon-size: 1.5rem;

// Favorites List Styling 
$favorites-border-radius: 10px; 
$favorites-padding: 15px;
$favorites-hover-scale: 1.05;

// Favorite Button 
$favorite-btn-color: #ff4f8a; 
$favorite-btn-hover: red; 
$favorite-btn-size: 1.5rem; 

// Image Styling
$favorites-img-size: 80px;
$favorites-img-border-radius: 5px;

// Glow-effect for song-item in Explore-page     
$box-shadow-popup-bg: rgba(0, 0, 0, 0.7);
$box-shadow-default: 0 4px 10px rgba(255, 20, 147, 0.3), 
                     0 0 15px rgba(255, 105, 180, 0.5);

$box-shadow-hover: 0 6px 15px rgba(255, 20, 147, 0.5), 
                   0 0 20px rgba(255, 105, 180, 0.8);

// Press button in home page
$press-btn-bg: #c2185b; 
$press-btn-color: rgb(255, 255, 255); 