// Primary colors from color palette
$primary-gradient: linear-gradient(to bottom right, #ffb6c1, #d8b2ff, #8fd3fe, #fff6a9);
$background-dark: #000000; // Standard defualt dark mode
$text-color: #ff80ab;

$font-primary: 'Quicksand', sans-serif;
